#header .header-nav-main nav > ul > li > a {
    color: #000000;
    font-family: 'Comfortaa', sans-serif;
    text-transform:none;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 160% */
    letter-spacing: 0.9px;
}
